header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-heading {
  margin-bottom: 0;
  font-size: 3.25em;
	margin-top: 0.5em;
}

.header-caption {
  max-width: 30em;
  font-size: 1.25em;
  margin: 0.5em 0 1.25em 0;
}

.recipe-card-link {
  color: unset;
  text-decoration: none;
}

.recipe-card {
  background-color: #c3c3c3;
  display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
  margin: 0 1.5em 1.5em;
  float: right;
  min-width: 85%;
}

.recipe-card:hover {
  box-shadow: #00000096 1px 1px 10px 1px;
}

.recipe-heading {
  font-size: 2.4em;
  margin: 0.35em 0 0;
}

.recipe-star-container {
  margin-top: 0.5em;
}

.recipe-star-container > i {
  width: 1.1em;
}

hr {
  margin-right: 1em;
}

.recipe-image-container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1.25em;
	grid-row-start: 1;
	grid-row-end: 3;
}

.recipe-info-container {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0;
}

.recipe-description {
  font-size: 1.25em;
}

.recipe-detail-container {
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
}

.recipe-details {
  align-self: center;
  font-size: 1.3em;
}