<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homepage</title>
	<script src="https://kit.fontawesome.com/df5f7c64ea.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<link rel="stylesheet" href="./CSS/recipeCards.css">
	<link rel="stylesheet" href="./CSS/css_reset.css">
</head>

<body>
	<header>
		<h1 class="homepage-heading">Test heading</h1>
		<p class="header-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi mollitia pariatur esse
			expedita blanditiis, exercitationem ad.</p>
	</header>

	<div id="recipe-card">
		<a v-for="recipe in recipes" class="recipe-card-link" href="./recipePage.html">

			<article class="recipe-card">
				<figure class="recipe-image-container">
					<img :src="recipe.image" :alt="recipe.alt_text">
				</figure>

				<div class="recipe-info-container">
					<h2 class="recipe-heading">
						{{recipe.name}}
					</h2>

					<div class="recipe-star-container">
						<i v-for="star in stars" :class="{ 'fa-solid': recipeRating(recipe) >= star.rating}"
							class="fa-regular fa-star fa-xl"></i>
					</div>

					<p class="recipe-description">
						{{recipe.description}}
					</p>

				</div>

				<div class="recipe-detail-container">
					<hr>
					<p class="recipe-details">{{recipe.ingredients.length}} INGREDIENSER | {{recipe.cooking_time}} MINUTER</p>
				</div>

			</article>
		</a>
	</div>

	<script type="module" src="./Scripts/main.js"></script>
</body>

</html>