<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="UTF-8">
	<title>Recipes</title>
	<link rel="stylesheet" href="./css/css_reset.css">
	<link rel="stylesheet" href="./CSS/recipePageTop.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <header class="site_header">
        <h1>ChasRecipeProject</h1>
    </header>

<div id="app">

  <section class="Title_and_recipe_information">
    <div class="recipe_title">
      <h2>{{ recipeNameVar }}</h2>
    </div>
    <div class="recipe_information">
      <p>Cook Time: {{ cookTimeVar }} minuter</p>
      <p>Nödvändiga ingredienser: {{ ingredientsAmountVar }}</p>
    </div>
  </section>

  <section class="steps_and_ingredients_wrapper">
    <div class="steps_div">
      <h3>Gör såhär:</h3>
      <ol class="steps_list">
        <li v-for="(step, index) in stepsVar">{{ step }}</li>
        <!---- for (int i = 0; i < stepsVar.Length; i++)--->
      </ol>
    </div>

    <div class="recipe_column">
      <div class="recipe_image">
        <img src="{{imageVar}}" alt="{{imageVar}}"> <!--- varför fungerar inte det här????? --->
        <div>{{imageVarRefined}}</div> <!--- ?????? --->
        <p>[Dynamisk rating etc]</p>
      </div>

      <div class="ingredients_div">
        <p>Ingredienser:</p>
        <ul>
          <li v-for="(ingredient, index) in ingredientsVar">{{ ingredient }}</li>
        </ul>
      </div>
    </div>
  </section>
  </main>
</div>


    <footer class="site_footer">
        <p>&copy; 2025 ChasRecipeProject. All rights reserved.</p>
    </footer>



    
    <script src="recipePageTop.js"></script>
</body>
</html>